.button {
  display: block;
  font-size: 14px;
  color: #ffffff;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #68b738;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}
