.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.catalog__section-title {
  margin-top: 0;
  margin-bottom: 0;
  padding: 16px 20px 26px 20px;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding-top: 33px;
    margin-bottom: 28px;
    padding-left: 0;
    border: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.catalog__item {
  padding: 0 20px 22px 20px;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    width: calc(50% - 30px);
    padding: 0 0 40px 0;
    margin: 29px 0;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #ffffff 82px, #f2f2f2 82px);
    border: 0;
  }

  @media (min-width: $desktop-width) {
    width: calc((100% - 80px*3) / 4);
    margin-right: 80px;
    margin-bottom: 32px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.catalog__inner {
  display: flex;
  align-items: flex-start;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }
}

.catalog__link {
  width: 50%;
  display: flex;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 13px;
    min-height: 208px;
    align-items: flex-end;
    justify-content: center;
  }
}

.catalog__content {
  margin: 22px 0 20px 0;

  @media (min-width: $tablet-width) {
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 33px;
    width: calc(100% - 80px);
  }
}

.catalog__title {
  max-width: 70%;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 55%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 19px;
    font-size: 20px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 95%;
    margin-bottom: 18px;
  }
}

.catalog__title-link {
  text-decoration: none;
  color: #111111;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__table {
  width: 100%;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    border-collapse: collapse;
  }
}

.catalog__cell {
  padding: 0;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  line-height: 16px;
  color: #444444;

  @media (min-width: $tablet-width) {
    padding: 8px 0 7px 0;
    font-size: 16px;
    border-bottom: 1px solid #cdcdcd;
  }

  &:nth-child(2n) {
    text-align: right;
  }
}

.catalog__order {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-right: 40px;
    margin-left: 40px;
  }
}
