.contact {
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    position: relative;
  }

  &--index {
    @media (min-width: $tablet-width) {
      background-color: #ffffff;
    }
  }
}

.contact__title {
  margin: 0 10px 0 0;
  display: flex;
  flex-shrink: 0;
  max-width: 130px;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 76px;
  }
}

.contact__info {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 1;

    & .container {
      height: 0;
    }
  }
}

.contact__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0 26px 0;

  @media (min-width: $tablet-width) {
    padding-top: 63px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    background-color: #ffffff;
  }
}

.contact__address {
  margin: 0;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 20px;
  color: #444444;

  @media (min-width: $tablet-width) {
    width: 160px;
    margin-right: 40px;
    text-align: right;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 84px;
    text-align: left;
  }
}

.contact__address-city {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 20px;
  }
}

.contact__map {
  height: 362px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}
