.copyright {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-top: -3px;
  }

  &:hover .copyright__logo {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;

    & .copyright__logo {
      fill: #68b738;
    }
  }
}

.copyright__title {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  letter-spacing: -0.3px;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-right: 23px;
    font-size: 16px;
    line-height: 16px;
  }
}

.copyright__logo {
  width: 27px;
  height: 34px;
  display: block;
  fill: #666666;
}
