.example {
  padding-top: 15px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    border-top: 1px solid #e6e6e6;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    padding-top: 25px;
    border-top: 0;
    background-image: linear-gradient(to bottom,#fff,#fff 157px,#f2f2f2 157px,#f2f2f2);
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.example__title {
  margin-top: 0;
  margin-bottom: 24px;
  
  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }
  
  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 130px;
  }
}

.example__info {
  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }
  
  @media (min-width: $desktop-width) {
    width: 442px;
  }
}

.example__description {
  margin-bottom: 25px;
  margin-right: 1px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-right: 10px;
    margin-bottom: 53px;
    font-size: 16px;
    line-height: 24px;
  }
  
  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.example__statistics {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: flex-start;
  }
  
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-right: auto;
  }
  
  @media (min-width: $desktop-width) {
    margin-bottom: 31px;
  }
}

.example__statistics-item {
  width: calc(50% - 15px);

  @media (min-width: $tablet-width) {
    width: 162px;
    text-align: center;

    &:first-child {
      margin-right: 42px;
    }
  }
}

.example__statistics-value {
  padding: 13px 0 17px 0;
  font-size: 24px;
  line-height: 1;
  color: #111111;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__statistics-desc {
  margin-right: 15px;
  margin-left: 15px;
  padding-right: 10px;
  padding-left: 8px;
  font-size: 12px;
  line-height: 1;
  font-family: "Arial", sans-serif;
  color: #444444;
  text-align: center;
  background-color: #f2f2f2;
  transform: translateY(-9px);

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    background-color: #ffffff;
    transform: translateY(-13px);
  }
  
  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.example__coast {
  margin-top: 10px;
  margin-bottom: 34px;
  font-size: 14px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 20px;
    text-align: right;
  }
  
  @media (min-width: $desktop-width) {
    display: flex;
    width: 328px;
  }
}

.example__coast-value {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 10px;
  }
  
  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-left: auto;
  }
}

.example__switch {
  margin-right: -20px;
  margin-left: -20px;
  
  @media (min-width: $tablet-width) {
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-top: -55px;
  }
}
