.example {
  padding-top: 15px;
  background-color: #f2f2f2;
  
  @media (min-width: $tablet-width) {
    border-top: 1px solid #e6e6e6;
    background-color: #ffffff;
    background-image: linear-gradient(to top, #f2f2f2 463px, #ffffff 463px);
  }
}

.example__container {

}

.example__title {
  margin-top: 0;
  margin-bottom: 24px;
}

.example__description {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: #444444;
  
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__statistics {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  
  @media (min-width: $tablet-width) {
    margin-right: auto;
  }
}

.example__statistics-item {
  width: calc(50% - 15px);
  
  @media (min-width: $tablet-width) {
    width: 162px;
    text-align: center;
    
    &:first-child {
      margin-right: 42px;
    }
  }
}

.example__statistics-value {
  padding: 13px 0 17px 0;
  font-size: 24px;
  line-height: 1;
  color: #111111;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  
  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__statistics-desc {
  margin-right: 15px;
  margin-left: 15px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 12px;
  line-height: 1;
  font-family: "Arial", sans-serif;
  color: #444444;
  text-align: center;
  background-color: #f2f2f2;
  transform: translateY(-9px);
  
  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    transform: translateY(-13px)
  }
}

.example__coast {
  margin-top: 10px;
  margin-bottom: 34px;
  font-size: 14px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
  
  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    text-align: right;
  }
}

.example__coast-value {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 10px;
  }
}

.example__toggle {
  margin-right: -20px;
  margin-left: -20px;
}
