.featured-item {
  padding-top: 14px;
  padding-bottom: 17px;
  border-bottom: 1px solid #e6e6e6;

  &:first-child {
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 25px 35px 29px 35px;
    margin-top: -1px;
    border: 1px solid #e6e6e6;
  }
  
  @media (min-width: $desktop-width) {
    padding: 15px 0 16px 0;
    align-items: baseline;
    border-right: 0;
    border-left: 0;
  }
}

.featured-item__link {
  color: #222222;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-right: auto;
  }
}

.featured-item__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 20px;
  }
}

.featured-item__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1;
  font-family: "Arial", sans-serif;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 16px;
  }
  
  @media (min-width: $desktop-width) {
    width: 285px;
    margin-left: 40px;
  }
}

.featured-item__price {
  @media (min-width: $tablet-width) {
    margin-left: 52px;
  }
}

.featured-item__order {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-top: 25px;
  }
  
  @media (min-width: $desktop-width) {
    width: 245px;
    margin-top: 0;
    margin-left: 40px;
  }
}
