.featured {
  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.featured__block {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.featured__title {
  margin-top: 26px;
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-top: 36px;
    margin-bottom: 81px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 47px;
    padding-left: 0;
  }
}

.featured__list {
  padding: 0;
  margin: 0 0 40px 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    margin-right: 80px;
    margin-bottom: 0;
  }
}

.featured__banner {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.featured__banner-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 63px 50px 43px 50px;
  text-decoration: none;
  background-color: #6fb346;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 71px 115px 69px 90px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    padding: 70px 37px 41px 37px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  &::before {
    content: "";
    display: block;
    width: 55px;
    height: 60px;
    background-image: url("../img/icon-gift.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      transform: translateY(-7px);
    }
  }
}

.featured__text {
  margin-bottom: 0;
  margin-top: 63px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    max-width: 170px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin-top: 57px;
  }
}
