.main-nav {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.main-nav__item {
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    margin-left: 36px;
    border-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 34px;
  }
}

.main-nav__item-link {
  display: block;
  padding: 22px 0;
  font-size: 20px;
  line-height: 1;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24.86px;
    padding-bottom: 11px;
    padding-top: 13px;
    border-bottom: 2px solid transparent;

    &--current {
      border-color: #68b738;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 8px;
    padding-top: 10px;
    line-height: 25px;
    color: #111111;
    font-size: 20px;
  }
}

.main-nav--index {
  @media (min-width: $desktop-width) {
    & .main-nav__item-link {
      color: #ffffff;

      &--current {
        border-color: #ffffff;
      }
    }
  }
}
