.options-list {
  margin: 0;
  padding: 0;
  list-style: none;
  
  @media (min-width: $tablet-width) {
    &--checkbox {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.options-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
  
  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.options-list__label {
  margin-right: 14px;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  white-space: nowrap;
  
  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.options-list__input {
  flex-grow: 1;
  width: 50%;
  padding: 12px 15px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;

  @include placeholder(#444444);

  &--large {
    width: 100%;
    padding-right: 45px;
    box-sizing: border-box;
  }

  &--textarea {
    padding: 15px;
    min-height: 148px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    
    @media (min-width: $tablet-width) {
      min-height: 173px;
    }
  }
  
  @media (min-width: $tablet-width) {
    padding: 10px 15px;
    font-size: 20px;
    line-height: 1;
  }
}

.options-list__wrapper {
  position: relative;
  flex-grow: 1;
}

.options-list__icon {
  position: absolute;

  &--mail {
    top: 15px;
    right: 15px;
    
    @media (min-width: $tablet-width) {
      top: 19px;
    }
  }

  &--phone {
    top: 12px;
    right: 12px;
    
    @media (min-width: $tablet-width) {
      top: 15px;
    }
  }
}
