body {
  min-width: 320px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    counter-reset: section;
  }
}

.button {
  display: block;
  font-size: 14px;
  color: #ffffff;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #68b738;
}

.container {
  width: auto;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding-right: 30px;
    padding-left: 30px;
  }
  @media (min-width: $desktop-width) {
    width: 1220px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.visually-hidden {
  @include visually-hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.page-main {
  max-width: 100%;
  overflow-x: hidden;
}

.page-main__title {
  border-bottom: 1px solid #e6e6e6;
}
