.page-header__top {
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-right: 30px;
    padding-left: 30px;
    width: 708px;
    margin: 0 auto;
  }
}

.page-header__active {
  padding: 13px 20px 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    padding: 24px 0 24px 0;
    margin-right: auto;
    border-bottom: 0;
  }
}

.page-header__logo {
  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}

.page-header__logo-img {
  display: block;
}

.page-header__index-link-img {
  display: block;
}

.page-header__menu-toggle {
  height: 24px;
  width: 24px;
  margin-left: 10px;
  padding: 0;
  background: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__menu-toggle-bar {
  width: 24px;
  height: 2px;
  padding: 0;
  display: block;
  position: relative;
  background-color: #222222;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    position: absolute;
    background-color: #222222;
  }

  &::before {
    top: 8px;
  }

  &::after {
    top: -8px;
  }
}
