.promo {
  margin-bottom: 22px;
  background-color: #64a83b;
  background-image: linear-gradient(to bottom, transparent 305px, #ffffff 305px),
    url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center, top center;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-bottom: 583px;
    margin-bottom: 0;
    background: transparent;
  }
}

.promo__text {
  text-align: center;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    width: 426px;
    margin-left: 89px;
    text-align: left;
  }
}

.promo__title {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  color: #ffffff;
  line-height: 1;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    color: #111111;
  }
}

.promo__motive {
  margin-top: 24px;
  margin-bottom: 27px;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  
  @media (min-width: $tablet-width) {
    font-size: 20px;
    color: #111111;
  }
}

.promo__img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3px;
  
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 239px;
    left: 50%;
    width: 709px;
    height: 609px;    
    margin-left: -354px;
    z-index: -1;
  }
}

.promo__link {
  padding-top: 11px;
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    padding-right: 56px;
    padding-left: 56px;
    margin-left: 89px;
  }
}
