.socials {
  padding: 16px 0;
  margin: 0;
  list-style: none;
  display: flex;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin-top: -8px;
    padding: 0;
    border: 0;
  }
}

.socials__item {
  margin: 0 12px;

  @media (min-width: $tablet-width) {
    margin-right: 8px;
    margin-left: 8px;
  }
}

.socials__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.socials__item-ico {
  fill: #666666;

  &--vk {
    width: 22px;
    height: 12px;

    @media (min-width: $tablet-width) {
      width: 30px;
      height: 16px;
    }
  }

  &--insta {
    width: 16px;
    height: 16px;

    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--fb {
    width: 10px;
    height: 19px;

    @media (min-width: $tablet-width) {
      width: 14px;
      height: 28px;
    }
  }

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: rgba(104, 183, 56, 0.3);
  }
}
