.switch {
  position: relative;
  padding-bottom: 36px;
}

.switch__items {
  width: 100%;
  margin-bottom: 30px;
}

.switch__item {
  &--after{
    display: none;
  }
}

.switch__control {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 3;
}

.switch__label {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #111111;
  user-select: none;
  cursor: pointer;
}

.switch__range {
  position: relative;
  display: block;
  width: 84px;
  margin: 3px 18px;
}

.switch__scale {
  display: block;
  height: 14px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.switch__button {
  position: absolute;
  display: block;
  top: 50%;
  left: 5px;
  width: 35px;
  height: 6px;
  margin-top: -3px;
  padding: 0;
  background-color: #68b738;
  border: 0;
  border-radius: 3px;
  text-indent: -1000px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.switch__input {
  @include visually-hidden;
  
  &--before:checked ~ .switch__items .switch__item--before,
  &--after:checked ~ .switch__items .switch__item--after {
    display: block;
  }
  
  &--before:checked ~ .switch__items .switch__item--after,
  &--after:checked ~ .switch__items .switch__item--before {
    display: none;
  }
  
  @media (max-width: $phones-max-width) {
    &--before:checked ~ .switch__control .switch__button {
      left: 5px;
    }

    &--after:checked ~ .switch__control .switch__button {
      left: calc(100% - 40px);
    }
  }
}
