.checkbox-field__input {
  @include visually-hidden;

  &:checked ~ .checkbox-field__label::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 4px;
    width: 21px;
    height: 16px;
    background-image: url('../img/icon-tick.svg');
    background-position: center;
  }
}

.checkbox-field__label {
  position: relative;
  padding: 6px 0 6px 46px;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 28px;
    width: 28px;
    border: 1px solid #cecece;
  }
}
