.contact {
  background-color: #ffffff;
}

.contact__title {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-weight: 400;
  text-transform: uppercase;
}

.contact__address {
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 20px;
  color: #444444;
}

.contact__map {
  img {
    display: block;
  }
}
