.subtitle {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  padding-right: 20px;
  background-color: #fff;
  
  &--desc {
    display: block;
  }
  
  &.subtitle::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100vw;
    height: 3px;
    margin-top: calc(1em/2 + 3px);
    background-color: #68b738;
    z-index: -1;
  }
}
